* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttonaccess {
    margin-top: 13px;
    margin-bottom: 21px;
    padding: 21px;
    background-color: black;
    font-size: 21px;
    border: none;
    color: white;
    text-decoration: none;
    min-width: 200px; /* Ændret til min-width for fleksibel bredde */
    display: inline-block;
    text-align: center;
    line-height: 1; /* Justeret linjehøjden for bedre udseende */
}

.buttonaccess:hover {
    color: yellow;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

h1 {
    margin-left: 34px;
    margin-bottom: 21px;
    font-size: 89px;
}

h2 {
    margin-top: 89px;
    margin-left: 34px;
    font-size: 55px;
}

h3 {
    margin-top: 89px;
    margin-bottom: 34px;
    margin-left: 34px;
    font-size: 55px;
}

p {
    font-size: 21px;
}

header {}

nav {
    font-size: 55px;
    background-color: black;
    padding: 55px;
}

nav a {
    margin-left: 13px;
    color: white; /* Ændrer tekstfarven til hvid */
    text-decoration: none; /* Fjerner understregning */
    transition: color 0.3s, background-color 0.3s; /* Tilføjer overgangseffekt for farveændring */
}

nav a:hover {
    color: yellow; /* Ændrer tekstfarven til hvid ved hover */
}

article {
    margin-top: 89px;
}

#hovedoversigt {
    margin-left: 34px;
    display: flex;
    justify-content: space-between;
}


.Menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}


.Menu li {
    flex: 1 1 auto; /* Ændret flex-basis til auto for at tillade automatisk tilpasning */
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}

.buttonaccess {
    padding: 21px;
    margin: 0; /* Justeret ydre margin til 0 for at fjerne unødvendig plads */
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none; /* Fjern punktummet/bullet fra listen */
}

li {
    flex: 1 1 48%;
    margin: 10px;
    box-sizing: border-box;
}

.buttonaccesslabel {
    font-weight: bold;
}

li p {
    margin-left: 101px;
    text-align: left;
}

section h2 {
    padding-bottom: 21px;
}

li p:first-of-type {
    margin-bottom: 21px; /* Juster værdien efter behov for at ændre afstanden */
}

aside {
    flex-basis: 40%; /* flytter aside over så den er til højre på hjemmesiden */
    background-color: yellow;
    margin-top: 55px;
    margin-right: 89px;
    padding: 21px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

aside p {
    padding-bottom: 13px;
}

aside a {
    margin-left: auto; /* Placerer linket til højre inden for flex-containeren */
    font-weight: bold;
    font-style: italic;
    font-size: 21px;
}

.content h2 {
    margin-top: 89px;
    margin-left: 34px;
}

.content p {
    margin-left: 34px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

@media
